<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" >
  <div class="container-fluid">

    <div class="navbar-nav container">

      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/" class="nav-link active" aria-current="page" >Acceuil</a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a routerLink="books" class="nav-link">Livres</a>
      </li>

      <!--barre de navigation-->
      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>

  </div>
    <!--login-->
    <div class="navbar-nav navbar-right">
      <li routerLinkActive="active" class="nav-item"><a routerLink="auth/signup" class="nav-link" >Créer un compte</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="auth/signin" class="nav-link">Connexion</a></li>
    </div>

  </div>

</nav>



